* {
  border: 1px solid green;
  /* UPDATE FONT */
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  /* margin: 0; */
}

.container-left {
  width: 25%;
}

.container-right {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  width: 70%;
}

.container-trips {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* height: 35vh; */
}

.trip-card {
  width: 350px;
  /* height: 350px; */
  object-fit: contain;
  border: 2px solid black;
}

img {
  width: 100%;
  /* height: 100%;  */
  object-fit: contain;
}

.trip-info {
  /* text-align: center; */
}

.hidden {
  display: none;
}