* {
  border: 1px solid green;
}

body {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  /* margin: 0; */
}

.container-left {
  width: 25%;
}

.container-right {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  width: 70%;
}